requests==2.25.1
youtube-transcript-api==0.3.1
audioread==2.1.8
decorator==4.4.2
ffmpeg-python==0.2.0
Flask==1.1.1
Flask-RESTful==0.3.8
gunicorn==20.0.4
joblib==0.14.1
librosa==0.7.2
numba==0.48.0
numpy==1.18.1
pydub==0.23.1
scikit-learn==0.22.2.post1
scipy==1.4.1
SoundFile==0.10.3.post1
Werkzeug==1.0.0
pandas==1.0.1
pathlib==1.0.1
