flask==1.1.1                             
gTTS==2.2.1                                                                 
json==2.0.9                                            
youtube-transcript-api==0.3.1               
